.success-container {
  background-color: #dfded8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.success-card {
  background: white;
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.success-card h2 {
  color: #0a66c2;
  margin-bottom: 20px;
  font-size: 26px
}

.success-card p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #333;
}

.success-card button {
  padding: 10px 20px;
  background-color: #0a66c2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.success-card button:hover {
  background-color: #084a94;
}